/* General Styles */
.main-content {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #fff;
  }
  
  .dashboard-title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Card Styles */
  .card {
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    color: #333;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    font-weight: bold;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  /* Interactive Cards */
  .interactive-card {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
  }
  
  
  /* User Activity & Announcements */
  .box {
    padding: 20px;
    border-radius: 12px;
    font-size: 1.2rem;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .box:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  .interactive-box {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
  }
  